<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Vue test</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div id="shoplist" class="container">

    <input v-model="user" placeholder="Username" v-if="token == ''">
    <input v-model="password" placeholder="Password" v-if="token == ''">
    <button v-on:click="auth" v-if="token == ''">Войти</button>
    <button v-on:click="register" v-if="token == ''">Регистрация</button>

    <button v-on:click="getItems" v-if="token != ''">Запрос</button>
    <p v-if="token != ''">Token: {{ token }} </p>
    <p v-if="items.length == '0' && token != ''">Список пустой</p>
    <template v-for="item in items">
      <p>
        <label>
          <input class="filled-in" type="checkbox" v-bind:id="item.name" v-model="bought" v-bind:value="item.name"
            v-on:change="onCheck">
          <span>{{item.name}}</span>
        </label>
        <button v-on:click="deleteItem" v-bind:id="'button_' + item.name">Удалить</button>
      </p>
    </template>
  </div>
  <script src="script.js"></script>
</body>

</html>