<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Vue test</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div id="shoplist" class="container">
  <div class="row">
  <div class="col s12 m6">
    <input v-model="user" placeholder="Имя пользователя" v-if="token == ''">
    <input v-model="password" placeholder="Пароль" v-if="token == ''">
    <button v-on:click="auth" v-if="token == ''">Войти</button>
    <button v-on:click="register" v-if="token == ''">Регистрация</button>

    <button v-on:click="getItems" v-if="token != ''">Обновить список</button>
    <input v-model="itemName" placeholder="Наименование" v-if="token != ''">
    <button v-on:click="addItem" v-if="token != ''">Добавить</button>

    <p v-if="token != ''">Токен: {{ token }} </p>
    <p v-if="items.length == '0' && token != ''">Список пустой</p>

    <table>
      <template v-for="item in items">
        <tr>
          <td>
            <label>
              <input class="filled-in" type="checkbox" v-bind:id="item.name" 
                v-model="bought" v-on:change="onCheck" v-bind:value="item.name">
              <span></span>
            </label>
          </td>
          <td>{{item.name}} (x{{item.amount}})</td>
          <td><button v-on:click="deleteItem" v-bind:id="'button_' + item.name">Удалить</button></td>
        </tr>
      </template>
  </table>
  
  </div>
  </div>
  </div>
  <script src="script.js"></script>
</body>

</html>